<!DOCTYPE html>
<html>
	<head>
		<% include ga.ejs %> <%include meta.ejs %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="/css/materialize.min.css"
			media="screen,projection"
		/>
		<link type="text/css" rel="stylesheet" href="/css/home.css" />
		<title>Equity Sports</title>
		<meta property="og:title" content="Equity Sports" />
		<meta
			property="og:url"
			content="https://equity-sports.firebaseapp.com"
		/>
		<script src="/__/firebase/5.8.4/firebase-app.js"></script>
		<script src="/__/firebase/5.8.4/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.4/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script type="text/javascript">
			function signOut() {
				firebase.auth().signOut();
				document.cookie = 'uid=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				window.location = '/logout';
			}
		</script>
	</head>

	<body onload="Materialize.toast('Loading...', 1000)">
		<header>
			<nav>
				<ul id="slide-out" class="side-nav">
					<li>
						<img class="responsive-img" src="/images/logo.png" />
					</li>
					<li><a id="accountName" class="waves-effect"></a></li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/" style="height: 120px">
							<h4
								style="color: #3eaca8; padding: 1px; text-align: center"
							>
								Equity Sports
							</h4>
						</a>
					</li>
					<li>
						<a class="waves-effect" href="/login"
							><i class="material-icons">account_balance</i
							>Login</a
						>
					</li>
					<li>
						<a class="waves-effect" href="/signUp"
							><i class="material-icons">people</i>Signup</a
						>
					</li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/Developers"
							><i class="material-icons">developer_mode</i
							>Developers</a
						>
					</li>
					<li>
						<a class="waves-effect" onclick="signOut()"
							><i class="material-icons">arrow_back</i>Logout</a
						>
					</li>
				</ul>
				<a
					href="#"
					data-activates="slide-out"
					class="button-collapse show-on-large"
					><i class="material-icons">menu</i></a
				>
			</nav>
		</header>

		<head>
			<title>Add Event | Equity Sports</title>
		</head>

		<div class="container">
			<div class="row"></div>
			<div class="row">
				<div class="col l3"></div>
				<div class="col s12 l6">
					<div class="card">
						<form action="/onEventAdd" method="POST">
							<div class="card-content">
								<h4 style="color: #faae29">
									Event Registration
								</h4>
								<br />
								<div class="input-field">
									<input
										value=""
										id="eventName"
										name="eventName"
										type="text"
										class="validate"
										required
									/>
									<label class="active" for="eventName"
										>Event Name</label
									>
								</div>
								<div class="input-field">
									Which sport is it?
									<select
										name="eventSport"
										id="eventSport"
										required
										class="event"
									>
										<option disabled selected></option>
										<option value="Basketball"
											>Basketball</option
										>
										<option value="Cricket"
											>Cricket</option
										>
										<option value="Football">Football</option>
										<option value="Gymnastics">Gymnastics</option>
									</select>
								</div>
								<div class="input-field">
									<input
										value=""
										id="contactEmail"
										name="contactEmail"
										type="email"
										pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
										title="Please enter a valid email address"
										class="validate"
										required
									/>
									<label class="active" for="ContactEmail"
										>Email(that players can contact)</label
									>
								</div>
								<div class="">
									<input
										type="text"
										name="eventDate"
										id="eventDate"
										class="datepicker"
									/>
									<label class="active" for="eventDate"
										>When is it Happening?</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="contactNumber"
										name="contactNumber"
										type="tel"
										pattern="^[0-9]{10,10}$"
										title="Please enter a valid mobile number"
										class="validate"
										required
									/>
									<label class="active" for="contactNumber"
										>Mobile Number</label
									>
								</div>
								<div class="input-field">
									Which state is it happening now?
									<select
										name="eventState"
										id="eventState"
										required
										class="event"
									>
										<option disabled selected></option>
										<option value="Karnataka"
											>Karnataka</option
										>
										<option value="Maharashtra"
											>Maharashtra</option
										>
										<option value="Delhi">Delhi</option>
										<option value="Assam">Assam</option>
									</select>
								</div>
								<div class="input-field">
									<input
										value=""
										id="eventLocation"
										name="eventLocation"
										type="textbox"
										class="validate"
										required
									/>
									<label class="active" for="eventLocation"
										>Address of the location</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="participationFee"
										name="participationFee"
										type="textbox"
										class="validate"
										required
									/>
									<label class="active" for="participationFee"
										>Participation Fee</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="cashPrice"
										name="cashPrice"
										type="textbox"
										class="validate"
										required
									/><label class="active" for="cashPrice"
										>Cash Price</label
									>
								</div>
								<div class="card-action">
									<button
										class="btn waves-effect waves-light"
										type="submit"
									>
										Submit
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script async src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script>
			$('.button-collapse').sideNav({
				menuWidth: 300, // Default is 300
				edge: 'left', // Choose the horizontal origin
				closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable: true, // Choose whether you can drag to open on touch screens,
				onOpen: function(el) {
					/* Do Stuff* / }, // A function to be called when sideNav is opened
        		  onClose: function(el) { /* Do Stuff */
				} // A function to be called when sideNav is closed
			});
			$('.collapsible').collapsible();
			$('.button-collapse').sideNav('hide');
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
		<script>
			firebase.auth().onAuthStateChanged(function(user) {
				if (user) {
					//logged in
				} else {
					window.location = '/login';
				}
			});
			$('.datepicker').pickadate({
				selectMonths: true,
				selectYears: 15,
				today: 'Today',
				clear: 'Clear',
				close: 'Ok',
				closeOnSelect: true,
				container: undefined // ex. 'body' will append picker to body
			});
		</script>
	</body>
</html>
