<div>
	<div class="carousel carousel-slider" data-indicators="true">
		<div class="carousel-fixed-item">
			<div class="container">
				<h2>Equity Sports</h2>
				<p>
					Sports do not build character. They reveal it. Glory awaits!
				</p>
				<a class="btn waves-effect black-text" href="/Contact"
					>Contact Us</a
				>
			</div>
		</div>
		<a class="carousel-item" href="#one!"
			><img src="/images/slider/slider1.png"
		/></a>
		<a class="carousel-item" href="#two!"
			><img src="/images/slider/slider2.png"
		/></a>
		<a class="carousel-item" href="#three!"
			><img src="/images/slider/slider3.png"
		/></a>
		<a class="carousel-item" href="#four!"
			><img src="/images/slider/slider4.png"
		/></a>
		<a class="carousel-item" href="#five!"
			><img src="/images/slider/slider5.jpg"
		/></a>
	</div>
</div>
