<!DOCTYPE html>
<html>
	<head>
		<% include ga.ejs %> <%include meta.ejs %>
		<title>Dashboard | Equity Sports</title>
		<meta property="og:title" content="Dashboard | Equity Sports" />
		<meta
			property="og:url"
			content="https://equity-sports.firebaseapp.com/Dashboard"
		/>
		<script src="/__/firebase/5.8.3/firebase-app.js"></script>
		<script src="/__/firebase/5.8.3/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.3/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
	</head>

	<body>
		<script>
			firebase.auth().onAuthStateChanged(function(user) {
				if (user) {
					firebase
						.firestore()
						.collection('users')
						.doc(user.uid)
						.get()
						.then(doc => {
							if (doc.exists) {
								if (doc.data().role === 'player')
									window.location = '/dashPlayer';
								else if (doc.data().role === 'sponsor')
									window.location = '/dashSponsor';
								else if (doc.data().role === 'manager')
									window.location = '/dashManager';
								else if (doc.data().role === 'sponsor_manager')
									window.location = '/dashSponsor_Manager';
								else window.location = '/login';
							} else window.location = '/onetime';
						})
						.catch(err => {
							window.location = '/login';
						});
				} else window.location = '/login';
			});
		</script>
	</body>
</html>
