<% include nav.ejs %>
<link
	rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.4.2/css/all.css"
	integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns"
	crossorigin="anonymous"
/>
<div class="container" id="statisticsContainer">
	<div class="row"></div>
	<div id="statistics-page" class="row">
		<div class="col s12 m2 l4"></div>
		<div class="col s12 m8 l4 z-depth-4 card-panel">
			<div class="row ">
				<h4 class="center-align">Developers</h4>
			</div>
			<div class="row margin">
				<div class="col s12">
					Aravind V. Nair :
					<br /><br />
					<a href="https://aravindvnair99.firebaseapp.com"
						><i class="fas fa-link"></i>&nbsp;Website</a
					><br />
					<a href="https://linkedin.com/in/aravindvnair99/"
						><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a
					>
					<br />
					<a href="https://github.com/aravindvnair99"
						><i class="fab fa-github"></i>&nbsp;GitHub</a
					>
					<br />
					<a href="https://www.facebook.com/AravindV.Nair1999"
						><i class="fab fa-facebook"></i>&nbsp;Facebook</a
					>
					<br />
					<a href="https://instagram.com/aravindvnair99/"
						><i class="fab fa-instagram"></i>&nbsp;Instagram</a
					>
					<br />
					<a href="https://plus.google.com/+AravindVNair"
						><i class="fab fa-google-plus"></i>&nbsp;Google+</a
					>
					<br />
					<a href="https://twitter.com/aravindvnair99/"
						><i class="fab fa-twitter"></i>&nbsp;Twitter</a
					>
					<br />
					<a href="https://aravindvnair1999.blogspot.com"
						><i class="fab fa-blogger"></i>&nbsp;Blog</a
					>
				</div>
			</div>
			<div class="row margin">
				<div class="col s12">
					Abhishek Sai :
					<br /><br />
					<a
						href="https://www.linkedin.com/in/abhishek-sai-8b352a159/"
						><i class="fab fa-linkedin"></i>&nbsp;LinkedIn</a
					>
					<br />
					<a href="https://github.com/Abhishek-Sai"
						><i class="fab fa-github"></i>&nbsp;GitHub</a
					>
					<br />
					<a href="https://www.facebook.com/abhishek.sai.52"
						><i class="fab fa-facebook"></i>&nbsp;Facebook</a
					>
					<br />
					<a href="https://www.instagram.com/abhishek.kvs/"
						><i class="fab fa-instagram"></i>&nbsp;Instagram</a
					>
				</div>
			</div>
			<div class="row margin">
				<div class="col s12">
					Equity Sports Dashboard Details :
					<br /><br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/blob/master/README.md"
						><i class="fas fa-book"></i>&nbsp;Documentation</a
					>
					<br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/blob/master/CONTRIBUTING.md"
						><i class="fas fa-hands-helping"></i>&nbsp;Contribute</a
					>
					<br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/blob/master/LICENSE"
						><i class="fas fa-file"></i>&nbsp;License</a
					>
					<br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/graphs/contributors"
						><i class="fas fa-chart-bar"></i>&nbsp;Statistics</a
					>
					<br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/releases"
						><i class="fas fa-code-branch"></i>&nbsp;Releases</a
					>
					<br />
					<a
						href="https://github.com/aravindvnair99/Smart-India-Hackathon-2019/commits/master"
						><i class="fas fa-history"></i>&nbsp;Changelog</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
<%include foot.ejs %>
