<footer class="page-footer" style="background-color: #cb2359">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="black-text">Equity Sports</h5>
				<p>
					Achieve your dreams! Now at your fingertips. Glory Awaits!!
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="white-text">Links</h5>
				<ul>
					<li>
						<a class="grey-text text-lighten-3" href="/contact"
							>Contact Us</a
						>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="/login"
							>Login</a
						>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="/"
							>Home Page</a
						>
					</li>
					<li>
						<a class="grey-text text-lighten-3" href="/Dashboard"
							>Dashboard</a
						>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Abhishek Sai, Aravind V. Nair, Ajith Pai, Swetha Pusapati, Ram
			Sameer and Sri Harsha
			<!-- <a class="grey-text text-lighten-4 right" href="#!"
						>More Links</a
					> -->
		</div>
	</div>
</footer>
