<!DOCTYPE html>
<html>
	<head>
		<% include ga.ejs %> <%include meta.ejs %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="/css/materialize.min.css"
			media="screen,projection"
		/>
		<link type="text/css" rel="stylesheet" href="/css/home.css" />
		<title>Equity Sports</title>
		<meta property="og:title" content="Equity Sports" />
		<meta
			property="og:url"
			content="https://equity-sports.firebaseapp.com"
		/>
		<style>
			.flex-container {
				display: flex;
				flex-wrap: wrap;
				background-color: #676d77;
			}
		</style>
	</head>

	<body onload="Materialize.toast('Loading...', 1000)">
		<header>
			<nav>
				<ul id="slide-out" class="side-nav">
					<li>
						<a class="waves-effect" href="/" style="height: 120px">
							<img
								class="responsive-img"
								src="/images/logo.png"
							/>
						</a>
					</li>
					<li></li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/login"
							><i class="material-icons">people</i>Account</a
						>
					</li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/Developers"
							><i class="material-icons">developer_mode</i
							>Developers</a
						>
					</li>
				</ul>
				<a
					href="#"
					data-activates="slide-out"
					class="button-collapse show-on-large"
					><i class="material-icons">menu</i></a
				>
			</nav>
		</header>
		<div>
			<section class="black">
				<div class="carousel carousel-slider" data-indicators="true">
					<div class="carousel-fixed-item">
						<div class="container">
							<h1 class="white-text"></h1>
							<!-- <a
								class="btn waves-effect white grey-text darken-text-2"
								href="https://codepen.io/collection/nbBqgY/"
								target="_blank"
								>button</a
							> -->
						</div>
					</div>
					<div
						class="carousel-item red lighten-2 white-text"
						href="#one!"
					>
						<div class="container">
							<h2>#Go2Goal</h2>
							<p class="white-text">
								Champions keep playing until they get it
								right...
							</p>
						</div>
					</div>
					<div
						class="carousel-item amber darken-2 white-text"
						href="#two!"
					>
						<div class="container">
							<h2>#SportiveSoul</h2>
							<p class="white-text">
								Sports do not build character. They reveal it.
							</p>
						</div>
					</div>
					<div class="carousel-item green white-text" href="#three!">
						<div class="container">
							<h2>#FinishLine</h2>
							<p class="white-text">
								The more you dream, the farther you go.
							</p>
						</div>
					</div>
					<div class="carousel-item red white-text" href="#four!">
						<div class="container">
							<h2>#ZenithSports</h2>
							<p class="white-text">
								One man practising sportsmanship is far better
								than a hundred teaching it.
							</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div>
			<div class="flex-container">
				<div class="row">
					<div class="col-6">
						<h4>Select the state</h4>
						<div class="button-group states">
							<button
								class="waves-effect waves-light btn"
								data-filter="*"
							>
								show all
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Karnataka"
							>
								Karnataka
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Maharashtra"
							>
								Maharashtra
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Delhi"
							>
								Delhi
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Assam"
							>
								Assam
							</button>
						</div>
						<!-- <select
							name="eventState"
							id="eventState"
							required
							class="event"
						>
							<option data-filter="*" selected>All</option>
							<option data-filter=".Karnataka" value="Karnataka"
								>Karnataka</option
							>
							<option
								date-filter=".Maharashtra"
								value="Maharashtra"
								>Maharashtra</option
							>
							<option data-filter=".Delhi" value="Delhi"
								>Delhi</option
							>
							<option data-filter=".Assam" value="Assam">Assam</option>
						</select> -->
					</div>
					<br />
					<div class="col-6">
						<h4>Select the Sport</h4>
						<div class="button-group sports">
							<button
								class="waves-effect waves-light btn"
								data-filter="*"
							>
								Show all
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Basketball"
							>
								Basketball
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Cricket"
							>
								Cricket
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Football"
							>
								Football
							</button>
							<button
								class="waves-effect waves-light btn"
								data-filter=".Gymnastics"
							>
								Gymnastics
							</button>
						</div>
						<!-- <select
							name="eventSport"
							id="eventSport"
							required
							class="event"
						>
							<option data-filter="*" selected>All</option>
							<option data-filter=".Basketball" value="Basketball">Basketball</option>
							<option data-filter=".Cricket" value="Cricket">Cricket</option>
							<option value=".Football">Football</option>
							<option data-filter=".Gymnastics" value="Gymnastics">Gymnastics</option>
						</select> -->
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<% include eventsCard.ejs %>
					</div>
				</div>
			</div>
		</div>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Equity Sports</h5>
						<p class="grey-text text-lighten-4">
							Achieving you dreams, now at your fingertips. Glory
							Awaits!!
						</p>
					</div>
					<div class="col l4 offset-l2 s12">
						<h5 class="white-text">Links</h5>
						<ul>
							<li>
								<a
									class="grey-text text-lighten-3"
									href="/contact"
									>Contact Us</a
								>
							</li>
							<li>
								<a
									class="grey-text text-lighten-3"
									href="/login"
									>Login</a
								>
							</li>
							<li>
								<a class="grey-text text-lighten-3" href="/"
									>Home Page</a
								>
							</li>
							<!-- <li>
								<a class="grey-text text-lighten-3" href="#!"
									>Link 4</a
								>
							</li> -->
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					Abhishek Sai, Aravind V. Nair, Ajith Pai, Swetha Pusapati,
					Ram Sameer and Sri Harsha
					<!-- <a class="grey-text text-lighten-4 right" href="#!"
						>More Links</a
					> -->
				</div>
			</div>
		</footer>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script async src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script>
			$('.button-collapse').sideNav({
				menuWidth: 300, // Default is 300
				edge: 'left', // Choose the horizontal origin
				closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable: true, // Choose whether you can drag to open on touch screens,
				onOpen: function(el) {
					/* Do Stuff* / }, // A function to be called when sideNav is opened
onClose: function(el) { /* Do Stuff */
				} // A function to be called when sideNav is closed
			});
			$('.collapsible').collapsible();
			$('.button-collapse').sideNav('hide');
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
		<script>
			$(document).ready(function() {
				$('.carousel').carousel({
					dist: 0,
					padding: 0,
					fullWidth: true,
					indicators: true,
					duration: 100
				});
			});
			autoplay();
			function autoplay() {
				$('.carousel').carousel('next');
				setTimeout(autoplay, 4500);
			}
			$(document).ready(function() {
				$('.modal').modal();
			});
		</script>
		<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
		<script>
			var $grid = $('.grid').isotope({
				itemSelector: '.element-item',
				layoutMode: 'fitRows'
			});
			$('.states').on('click', 'button', function() {
				var filterValue = $(this).attr('data-filter');
				$grid.isotope({ filter: filterValue });
			});
			$('.sports').on('click', 'button', function() {
				var filterValue = $(this).attr('data-filter');
				$grid.isotope({ filter: filterValue });
			});
		</script>
	</body>
</html>
