<!DOCTYPE html>
<html>
	<head>
		<% include ga.ejs %> <%include meta.ejs %>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="css/materialize.min.css"
			media="screen,projection"
		/>
		<link typr="text/css" rel="stylesheet" href="css/home.css" />
		<title>Login | Equity Sports</title>
		<meta property="og:title" content="Login | Equity Sports" />
		<meta
			property="og:url"
			content="https://equity-sports.firebaseapp.com/Login"
		/>
		<style>
			body {
				background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
				background-size: 400% 400%;
				-webkit-animation: Background 30s ease infinite;
				-moz-animation: Background 30s ease infinite;
				-o-animation: Background 30s ease infinite;
				animation: Background 30s ease infinite;
			}

			@-webkit-keyframes Background {
				0% {
					background-position: 0% 50%;
				}

				50% {
					background-position: 100% 50%;
				}

				100% {
					background-position: 0% 50%;
				}
			}

			@-moz-keyframes Background {
				0% {
					background-position: 0% 50%;
				}

				50% {
					background-position: 100% 50%;
				}

				100% {
					background-position: 0% 50%;
				}
			}

			@-o-keyframes Background {
				0% {
					background-position: 0% 50%;
				}

				50% {
					background-position: 100% 50%;
				}

				100% {
					background-position: 0% 50%;
				}
			}

			@keyframes Background {
				0% {
					background-position: 0% 50%;
				}

				50% {
					background-position: 100% 50%;
				}

				100% {
					background-position: 0% 50%;
				}
			}
		</style>
		<script src="/__/firebase/5.8.4/firebase-app.js"></script>
		<script src="/__/firebase/5.8.4/firebase-auth.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script>
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					var email = document.getElementById('username').value;
					var password = document.getElementById('password').value;
					if (email.length < 3) {
						Materialize.toast(
							'Please enter a valid email address.',
							1250
						);
						return;
					}
					if (password.length < 6) {
						Materialize.toast(
							'Please enter a valid password',
							1250
						);
						return;
					}
					firebase
						.auth()
						.signInWithEmailAndPassword(email, password)
						.catch(function(error) {
							var errorCode = error.code;
							var errorMessage = error.message;
							if (errorCode === 'auth/wrong-password') {
								Materialize.toast('Wrong password', 1250);
							} else if (errorCode === 'auth/user-not-found') {
								Materialize.toast('User not found', 1250);
							} else {
								Materialize.toast(errorMessage, 1500);
							}
						});
				}
			}
			function initApp() {
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						Materialize.toast('Signing in...', 1000);
						var displayName = user.displayName;
						var email = user.email;
						window.location = '/';
					} else {
						Materialize.toast('Login to continue', 1250);
					}
				});
			}
			window.onload = initApp();
		</script>