<% include nav.ejs %>

<head>
	<title>Event Registration Form</title>
</head>

<div class="container">
	<div class="row"></div>
	<div class="row">
		<div class="col l3"></div>
		<div class="col s12 l6">
			<div class="card">
				<form id="form">
					<div class="card-content">
						<h4 style="color: #faae29">Event Registration</h4>
						<br />
						<div class="input-field">
							<input
								value=""
								id="firstName"
								name="firstName"
								type="text"
								class="validate"
								required
							/>
							<label class="active" for="firstName"
								>First Name</label
							>
						</div>
						<div class="input-field">
							<input
								value=""
								id="lastName"
								name="lastName"
								type="text"
								class="validate"
								required
							/>
							<label class="active" for="lastName"
								>Last Name</label
							>
						</div>
						<div class="input-field">
							<input
								value=""
								id="emailId"
								name="emailId"
								type="email"
								class="validate"
								required
							/>
							<label class="active" for="emailId">Email ID</label>
						</div>
						<div class="input-field">
							<input
								value=""
								id="mobile"
								name="mobile"
								type="tel"
								min="10"
								max="10"
								class="validate"
								required
							/>
							<label class="active" for="mobile"
								>Mobile Number</label
							>
						</div>
						<div class="input-field">
							You are a?
							<select
								name="userRole"
								id="userRole"
								required
								class="event"
							>
								<option disabled selected></option>
								<option value="player">Player</option>
								<option value="sponsor">Sponsor</option>
								<option value="eventManager"
									>Event Manager</option
								>
							</select>
						</div>
						<div class="card-action">
							<button
								class="btn waves-effect waves-light"
								type="submit"
								name="action"
								onclick="onSubmit()"
							>
								Submit
								<i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<%include foot.ejs %>
<script>
	var db = firebase.firestore();
	function onSubmit() {
		var firstName = document.getElementById('firstName').value;
		var lastName = document.getElementById('lastName').value;
		var emailId = document.getElementById('emailId').value;
		var mobile = document.getElementById('mobile').value;
		console.log(firstName);
		db.collection('users')
			.add({
				firstName: firstName,
				lastName: lastName,
				emailID: emailID,
				mobile: mobile
			})
			.then(function(docRef) {
				console.log(docRef.id);
				console.log(firstName);
				console.log(lastName);
				console.log(emailId);
			})
			.catch(err => {
				console.log(err);
			});
	}
</script>
