<!DOCTYPE html>
<html>
	<head>
		<%- include('ga') -%> <%- include('meta') -%>
		<link
			href="https://fonts.googleapis.com/icon?family=Material+Icons"
			rel="stylesheet"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="/css/materialize.min.css"
			media="screen,projection"
		/>
		<link type="text/css" rel="stylesheet" href="/css/home.css" />
		<title>Equity Sports</title>
		<meta property="og:title" content="Equity Sports" />
		<meta
			property="og:url"
			content="https://equity-sports.firebaseapp.com"
		/>
		<script src="/__/firebase/5.8.4/firebase-app.js"></script>
		<script src="/__/firebase/5.8.4/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.4/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script type="text/javascript">
			function signOut() {
				firebase.auth().signOut();
				document.cookie = 'uid=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
				window.location = '/logout';
			}
		</script>
	</head>

	<body onload="Materialize.toast('Loading...', 1000)">
		<header>
			<nav>
				<ul id="slide-out" class="side-nav">
					<li>
						<img class="responsive-img" src="/images/logo.png" />
					</li>
					<li><a id="accountName" class="waves-effect"></a></li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/" style="height: 120px">
							<h4
								style="color: #3eaca8; padding: 1px; text-align: center"
							>
								Equity Sports
							</h4>
						</a>
					</li>
					<li>
						<a class="waves-effect" href="/login"
							><i class="material-icons">account_balance</i
							>Login</a
						>
					</li>
					<li>
						<a class="waves-effect" href="/signUp"
							><i class="material-icons">people</i>Signup</a
						>
					</li>
					<li>
						<div class="divider"></div>
					</li>
					<li>
						<a class="waves-effect" href="/Developers"
							><i class="material-icons">developer_mode</i
							>Developers</a
						>
					</li>
					<li>
						<a class="waves-effect" onclick="signOut()"
							><i class="material-icons">arrow_back</i>Logout</a
						>
					</li>
				</ul>
				<a
					href="#"
					data-activates="slide-out"
					class="button-collapse show-on-large"
					><i class="material-icons">menu</i></a
				>
			</nav>
		</header>

		<head>
			<title>View Profile | Equity Sports</title>
		</head>

		<div class="container">
			<div class="row"></div>
			<div class="row">
				<div class="col l3"></div>
				<div class="col s12 l6">
					<div class="card">
						<form action="/onSignUp" method="POST">
							<div class="card-content">
								<h4 style="color: #faae29">
									Registration Form
								</h4>
								<br />
								<div class="input-field">
									<input
										value=""
										id="firstName"
										name="firstName"
										type="text"
										class="validate"
										readonly
										required
									/>
									<label class="active" for="firstName"
										>First Name</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="lastName"
										name="lastName"
										type="text"
										class="validate"
										readonly
										required
									/>
									<label class="active" for="lastName"
										>Last Name</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="emailId"
										name="emailId"
										type="email"
										class="validate"
										readonly
										required
									/>
									<label class="active" for="emailId"
										>Email</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="password"
										name="password"
										type="password"
										class="validate"
										required
									/>
									<label class="active" for="password"
										>Password</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="mobile"
										name="mobile"
										type="tel"
										min="10"
										max="10"
										class="validate"
										readonly
										required
									/>
									<label class="active" for="mobile"
										>Mobile Number</label
									>
								</div>
								<div class="input-field">
									<input
										value=""
										id="uid"
										name="uid"
										type="text"
										class="validate"
										required
										hidden
									/>
									<label class="active" for="mobile"></label>
								</div>
								<div class="card-action">
									<button
										class="btn waves-effect waves-light"
										type="submit"
										disabled
									>
										Submit
										<i class="material-icons right">send</i>
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/materialize.min.js"></script>
		<script async src="js/manup.js"></script>
		<script>
			if (navigator.serviceWorker.controller) {
				console.log(
					'[PWA Builder] active service worker found, no need to register'
				);
			} else {
				navigator.serviceWorker
					.register('pwabuilder-sw.js', {
						scope: './'
					})
					.then(function(reg) {
						console.log(
							'Service worker has been registered for scope:' +
								reg.scope
						);
					});
			}
		</script>
		<script>
			firebase.auth().onAuthStateChanged(function(user) {
				if (user) {
					firebase
						.firestore()
						.collection('users')
						.doc(user.uid)
						.get()
						.then(doc => {
							if (doc.exists) {
								document.getElementById(
									'firstName'
								).value = doc.data().firstName;
								document.getElementById(
									'lastName'
								).value = doc.data().lastName;
								document.getElementById(
									'emailId'
								).value = doc.data().emailId;
								document.getElementById(
									'mobile'
								).value = doc.data().mobile;
							}
						})
						.catch(err => {
							console.log(err);
							window.location = '/onetime';
						});
				}
			});
		</script>
		<script>
			$('.button-collapse').sideNav({
				menuWidth: 300, // Default is 300
				edge: 'left', // Choose the horizontal origin
				closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
				draggable: true, // Choose whether you can drag to open on touch screens,
				onOpen: function(el) {
					/* Do Stuff* / }, // A function to be called when sideNav is opened
		  onClose: function(el) { /* Do Stuff */
				} // A function to be called when sideNav is closed
			});
			$('.collapsible').collapsible();
			$('.button-collapse').sideNav('hide');
			$(document).ready(function() {
				$('select').material_select();
			});
		</script>
	</body>
</html>
